<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Space Tourism Website</title>

    <link rel="stylesheet" href="../public/css/main.css">

</head>
<body>
    <header class="main-nav">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20 0C20 0 20 20 0 20C19.648 20.1428 20 40 20 40C20 40 20 20 39.9999 20C20 20 20 0 20 0Z" fill="#0B0D17"/>
        </svg>
        <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Group">
                <rect id="Rectangle" width="24" height="3" fill="#D0D6F9"/>
                <rect id="Rectangle Copy" y="9" width="24" height="3" fill="#D0D6F9"/>
                <rect id="Rectangle Copy 2" y="18" width="24" height="3" fill="#D0D6F9"/>
            </g>
        </svg>
    </header>


    {# <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/destination">Destination</a>
                </li>
                <li>
                    <a href="/crew">Crew</a>
                </li>
                <li>
                    <a href="/technology">Technology</a>
                </li>
            </ul>
        </nav>
    </header> #}
