{% include './includes/header.twig' %}

<main class="crew-page">
    <p class="crew-page__first-paragraph">
        <span>02</span>
        Meet your crew
    </p>
</main>

{% include './includes/footer.twig' %}
