{% include './includes/header.twig' %}

<main class="destination-page">
    <p>
        <span>01<span>
        Pick your destination
    </p>
    <img src="../../public/img/moon.jpg" alt="" />
    <ul>
        <li>Moon</li>
        <li>Mars</li>
        <li>Europa</li>
        <li>Titan</li>
    </ul>

    <h1>Moon</h1>
</main>

{% include './includes/footer.twig' %}
