$vulcan: #0B0D17;
$tropicalBlue: #D0D6F9;
$white: #FFFFFF;


// Typographies
$heading1: "";
$heading2: "";
$heading3: "";
$heading4: "";
$heading5: "";

$subHeading1: "";
$subHeading2: "";

$navigationText: "";
$body: "";
