// Descriptive color variables
$vulcan: #0B0D17;
$tropical-blue: #D0D6F9;
$white: #FFFFFF;


// Functional color variables


// Typographies
$barlow-condensed: "Barlow Condensed", sans-serif;
$bellefair: "Bellefair", serif;


// Break points
$tablet: 48rem;
$desktop: 90rem;
