.destination-page::before {
    background-image: url("../../public/img/bg-destination-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -1;
}

.destination-page {
    color: $white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
}
