.destination-page::before {
    background-image: url("../../public/img/bg-destination-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -1;
}

.destination-page {
    color: $white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;

    &__first-paragraph {
        @include heading-h5;

        text-transform: uppercase;
        margin-bottom: 32px;
    }

    &__planet-image {
        height: 10.625rem;
        width: 10.625rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
    }

    &__planets-list {
        padding-left: 0;
        list-style-type: none;
    }
}
